*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #686868;
    background-size: 100%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-right: 5px;
    border-radius: 15px;
}

.sidebar a { /* Enlaces del sidebar */
    display: flex;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-radius: 15px;
}

.sidebar a.active { /* Enlace activo/actual */
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) { /* Enlaces con el puntero encima */
    background-color: #555;
    color: white;
}

div.content { /* Contenido de pagina, el valor de la propiedad del margen izquierdo deberia coincidir con el valor de propiedad de la sidebar */
    margin-left: 210px;
    padding: 1px 16px;;
    display: block;
    background-color: #ffffff80;
    border-radius: 15px;
}

@media screen and (max-width: 700px) { /* Ancho de pantalla menor a 700px, convierte la sidebar en topbar */
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) { /* Ancho de pantalla menor a 400px, muestra la barra verticalmente en lugar de horizontalmente */
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.tg  {
    border-collapse:collapse;border-spacing:0;
    padding: 10px 10px 10px 10px;
}
.tg td{
    border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;
}
.tg th{
    border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}
.tg .tg-0lax{
    text-align:left;vertical-align:top
}

.greeting {
    display: block;
    background-color: #ffffff90;
    font-size: 12px;
    margin-left: 210px;
    border-radius: 15px;
    text-align: left;
}

.greeting-text {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#MonedaConvertida {
 text-align: middle;   
}
